/* const buttonStyle = {
    fontSize:"17px",
    backgroundColor : "#88a5ab",
    width : "100px",
    margin : "10px",
    color : "white",
    padding : "15px",
    borderRadius : "30px",
}; */

.counterButton{
    font-size:17px;
    background-color : #00a5ab;
    width : 100px;
    margin : 10px;
    color : white;
    padding : 15px;
    border-radius : 30px;
    border-color: black;
    border-width: 5px;
}

.count {
    font-size: 150px;
    padding: 20px;
}

.totalCount {
    color:#1a00ab;
    font-size: 150px;
}